.button {
  display: block;
  padding: 5px;

  font: inherit;
  font-weight: bold;
  border-radius: 3px;

  background: linear-gradient(to right, #006cff 0%, #009bff);
  color: white;
  border: none;

  cursor: pointer;

  &:hover,
  &:active {
    background: linear-gradient(to right, #004cff 0%, #007bff);
  }

  &--yellow {
    &:hover,
    &:active {
      opacity: 0.9;
      background: #fdd954;
    }
  }
}
