.clients__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px 50px;
}

.clients__header {
  display: block;
  margin: 0;
  margin-bottom: 40px;

  font-size: 60px;
  line-height: 72px;
}

.clients__list {
  @include clear-ul;
  display: flex;
  flex-wrap: wrap;
}

.clients__link {
  &:hover,
  &:active {
    opacity: 0.8;
  }
}

.clients__list-item {
  display: flex;
  width: 22%;
  height: 130px;
  border: 1px solid #f4effd;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

@include desktop-only {
  .clients__list-item:nth-child(4n) {
    margin-right: 0;
  }
}

@include tablet {
  .clients__wrapper {
    padding: 0 70px 50px;
  }

  .clients__header {
    font-size: 48px;
    line-height: 1.5em;
  }

  .clients__list {
    justify-content: space-between;
  }

  .clients__list-item {
    width: 40%;
    margin-right: 3%;
  }

  @include tablet-only {
    .clients__list-item:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@include mobile {
  .clients__wrapper {
    padding: 0 20px;
    width: 280px;
  }

  .clients__header {
    font-size: 30px;
    text-align: center;
  }

  .clients__list-item {
    height: 60px;
    width: 135px;
    margin-right: 10px;
  }

  .clients__list-item:nth-child(2n) {
    margin-right: 0;
  }
}
