@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Myriad Pro";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/MyriadPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/Circe-Light.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Circe-Regular.woff") format("woff");
}

@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff") format("woff");
}
